.container {
    position: fixed;
    right: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, gray, white);
}

.color-picker-container {
    text-align: left;
    display: inline;
    color: white;
}

.pensize-container {
    display: inline;
    color: black;
    margin-left: 12px;
}

.tools-section {
    text-align: left;
    margin-left: 1%;
    margin-top: 0.5%;
}

.whiteboard-container {
    width: 100%;
    height: 100%;
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 0%;
    background: white;
}

.save-to-png {
    margin-left: 1%;
    margin-right: 1%;
    align-content: right;
}

.p-radio {
    margin-left: 1%;
    margin-right: 1%;

}

.eraser-container {
    margin-left: 1%;
    margin-right: 1%;
}

.people-online-list-dropdown {
    position: relative;
    display: inline-block;
    margin-left: 60%;
}

.dropdown-list-btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.people-list-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.people-list-dropdown a:hover {
    background-color: #ddd;

}

.people-list-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.people-online-list-dropdown:hover .people-list-dropdown {
    display: block;
}

.people-online-list-dropdown:hover .dropdown-list-btn {background-color: #3e8e41;}


