.ctrl-z-ctrl-y-container {
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
}


.collabContainer {
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
}

.collabBtn {
    height: 27px;
    width: 50px;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
}

.ctrl_z_btn {
    height: 27px;
    width: 50px;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
}

.ctrl_y_btn {
    height: 27px;
    width: 50px;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
}

.color-picker-container {
    align-content: center;
}

.colorPicker {
    height: 27px;
    width: 50px;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
    position: absolute;
}

.pencil-container {
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
}

.tools-section {
    text-align: left;
    margin-left: 1%;
    margin-top: 0.5%;
}

.whiteboard-container {
    width: 100%;
    height: 100%;
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 0%;
    background: white;
}

.save-to-png {
    align-content: right;
}

.p_btn {
    height: 27px;
    width: 50px;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
}

.pSizeSelect {
    height: 27px;
    width: 50px;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
}

.eraser-container {
    margin-left: 5%;
    margin-right: 3%;
    align-content: center;
}

.e_btn {
    height: 27px;
    width: 50px;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
}

.eSizeSelect {
    height: 27px;
    width: 50px;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
}

.markdownEditorBtn {
    height: 27px;
    width: 50px;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
}

.save_btn {
    height: 27px;
    width: 50px;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
}

.text-input-selection {
    margin-left: 1%;
    align-content: center;
}

.p_btn .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.p_btn:hover .tooltiptext {
    visibility: visible;
}

.e_btn .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.e_btn:hover .tooltiptext {
    visibility: visible;
}

.pSizeSelect .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.pSizeSelect .tooltiptext {
    visibility: visible;
}

.save_btn .tooltiptext {
    visibility: hidden;
    width: 110px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.save-to-png:hover .tooltiptext {
    visibility: visible;
}

.eSizeSelect .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.eSizeSelect:hover .tooltiptext {
    visibility: visible;
}

.ctrl_z_btn .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.ctrl_z_btn:hover .tooltiptext {
    visibility: visible;
}

.ctrl_y_btn .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.ctrl_y_btn:hover .tooltiptext {
    visibility: visible;
}

.markdownEditorBtn .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.markdownEditorBtn:hover .tooltiptext {
    visibility: visible;
}

.collabBtn .tooltiptext {
    visibility: hidden;
    width: 75px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.collabBtn:hover .tooltiptext {
    visibility: visible;
}

.hostContainer {
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
}

.hostDiv {
    color: black;
    font-size: 20px;
    position: absolute;
}
